*{
    margin: 0;
    padding: 0;
}
body{
    background: aqua;
}
.container{
    margin: 0 auto;
    max-width:96%;
}
.card{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.box{
    border: 5px solid red;
    margin: 10px;
    border-radius: 10px;
}
.box img{
    height: 200px;
    width: 200px;
}
@media screen  and (max-width:1000px){
    .card{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen  and(max-width:412px){
    .card{
        grid-template-columns: repeat(3, 1fr);
    }
}